/* styles.css */
@keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .mobile-menu {
    position: fixed;
    top: 50px; /* Adjust this value if needed to align with your hamburger button */
    left: 0;
    width: 100%;
    height: calc(100% - 50px); /* Adjust this value based on the height of your hamburger button */
    background-color:white;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .mobile-menu.open {
    animation: slideIn 0.3s forwards;
  }
  
  .mobile-menu.closed {
    animation: slideOut 0.3s forwards;
  }
  
  .hamburger {
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
  }
  
  .hamburger.hidden {
    opacity: 0;
    pointer-events: none;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; /* Adjust background color as needed */
    z-index: 1000; /* Ensure the header stays above other content */
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; /* Adjust padding as needed */
    border-bottom: 1px solid #ddd; /* Optional: adds a border below the header */
  }
  
  .content {
    margin-top: 130px; /* Adjust based on header height to prevent content from hiding behind header */
  }